body{
    background-color: brown;
    font-family: bai jamjurre;
}

#container {
  display: flex;
}

.catoa{
    margin: 1rem 1rem;
    background-color: blueviolet;
    height: 20rem;
    flex: 1;
    
}
cartao__conteudo{
    text-align: center;
    background-color:blueviolet;
    height:100%;
}

footer{
    background-color: rgba(11, 204, 252, 0.808);
    color:rgba(22, 36, 192, 0.822);
    position: fixed;
    bottom: 0;
    width: 100;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}
.cartao_conteudo h3{
    background-color: blue;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;

}